@import 'base','varable','header';
body{
    width:100%;
    height:100%
}
#wrapper{
    width: 100%;
    max-width: 640px;
    min-height: 320px;
    margin: 0 auto;
    overflow: hidden; 
    background-color:$colorBg;
}
.orderItems{
	display:-webkit-flex;
    display:flex;
    align-items:center;
    background-color:#1B1A1F;
    li{
    	position:relative;
    	margin:0 15%;
    	-webkit-flex:1;
        flex:1;
        display:-webkit-flex;
    	display:flex;
        justify-content:center;
        font:.7rem/2rem $publicFont;
        color:#767676;
        &:first-child{
        	&:before{
        		content:"";
        		position:absolute;
        		top:.5rem;
        		right:-80%;
        		width:2px;
        		height:1rem;
                background-color:#222;
        	}
        }
    }
    .active{
        border-bottom:1px solid #FFBC00;
        color:#FFBC00;
    }
}
.orderContainer{
	margin:.5rem 0;
	padding:0 5%;
	background: #1B1B1B;
	>div{
		display:none;
	}
}
.orderList{
	.order-list{
		border-bottom:1px solid #333;
		.top{
			display:-webkit-flex;
		    display:flex;
		    align-items:center;
		    h3{
				font:.7rem/2rem $publicFont;
		        color:#BDBDBD;
		        -webkit-flex:1;
		        flex:1;
		    }
		    p{
				font:.65rem/2rem $publicFont;
		        color:#666;
		    }
		}
		.bottom{
			padding-bottom:.5rem;	
			display:-webkit-flex;
		    display:flex;
		    align-items:center;
		    .l{
		        -webkit-flex:1;
		        flex:1;
		        overflow: hidden;
		        p{
			        font:.65rem/1.5 $publicFont;
			        color:#666;	
			        overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
		        }
		    } 
		    a{
		    	padding:0 3%;
		    	font:.65rem/1.5 $publicFont;
		    	border:1px solid #FFBC00;
		    	color:#FFBC00;
		    	border-radius:30px;
		    	text-decoration:none;
		    }
		}
	}
}
//订单支付 orderpay
.orderPay{
	.top{
		padding:5%;
		background-color:#1B1B1B;
		overflow:hidden;
		h3{
			font:.7rem/2 $publicFont;
		    color:#BDBDBD;
		}
		p{
			font:.65rem/1.5 $publicFont;
	        color:#666;
	        overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
	    }
	}
	.item{
		margin-top:.5rem;
		padding:3% 5%;
		background-color:#1B1B1B;
	    .pay{
	    	padding:1% 0;
	    	display:-webkit-flex;
		    display:flex;
		    align-items:center;
		    background:url(../images/no_choice.png) #1B1B1B center right no-repeat;
	    	background-size:1rem 1rem;
	    	img{
		    	width:1rem;
		    	height:auto;
		    	margin-right:.5rem;
		    }
		    span{
		    	font:.65rem/1.5 $publicFont;
		        color:#BDBDBD;
		    }
	    }
	    .active{
	    	background:url(../images/selected.png) #1B1B1B center right no-repeat;
	    	background-size:1rem 1rem;
	    }
	}
}
.orderPayLayer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	width:100%;
	height:2rem;
	display:-webkit-flex;
    display:flex;
    align-items:center;
    p{
    	padding-left:5%;
    	-webkit-flex:3;
    	flex:3;
    	font:.7rem/2rem $publicFont;
    	color:#FFBC00;
    }
    a{
    	-webkit-flex:1;
    	flex:1;
    	display:block;
    	background-color:#FFBC00;;
    	color:#fff;
    	font:.7rem/2rem $publicFont;
    	text-decoration:none;
    	text-align:center;
    }
}
//订单详情 orderDetails
.orderDetails{
	.head{
		padding:5%;
		display:-webkit-flex;
	    display:flex;
	    align-items:center;
	    background-color:#1b1b1b;
	    .headIcon{
	    	width:2rem;
	    	height:2rem;
	    	overflow:hidden;
	    	margin-right:1rem;
	    	img{
	    		width:100%;
	    		height:100%;
	    	}
	    }
	    .name{
	    	-webkit-flex:1;
		    flex:1;
	    	h3{
	    		color:#fff;
    			font:.7rem/1 $publicFont;
	    	}
	    	img{
	    		height:.5rem;
	    	}

	    }
	    .phone{
	    	padding:0 2% 0 0;
	    	display:-webkit-flex;
		    display:flex;
		    align-items:center;
		    border:1px solid #FFBC00;
		    border-radius:30px;
		    overflow:hidden;
		    .img{
		    	background-color:#FFBC00;
		    	text-align:center;
		    	img{  
		    		padding:0 .3rem;
		    		height:.8rem;
		    	}
		    }
		    p{
		    	-webkit-flex:1;
		    	flex:1;
		    	color:#fff;
    			font:.6rem/1 $publicFont;
    			color:#FFBC00;
		    }
	    }
	}
	.mid{
		margin-top:.5rem;
		padding:5%;
	    background-color:#1b1b1b;
	    overflow: hidden;
	    p{
	    	font:.65rem/1.5 $publicFont;
	        color:#666;	
	        overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
	    }
	}
	.foot{
		padding:5%;
		display:-webkit-flex;
	    display:flex;
	    align-items:center;
	    flex-wrap:wrap;
		a{
            margin:2.5% 2%;
		    background-color:#FFBC00;
		    border-radius:5px;
		    width:46%;
		    font:.65rem/2rem $publicFont;
	        color:#fff;	
	        text-align:center;
	        text-decoration:none;
	        &:nth-child(3){
	        	border:1px solid #FFBC00;
	        	background-color:transparent;
	        	color:#FFBC00;
	        }
		}
	}
}