@import 'base','varable','header';
body{
    width:100%;
    height:100%
}
#wrapper{
    width: 100%;
    max-width: 640px;
    min-height: 320px;
    margin: 0 auto;
    overflow: hidden; 
    background-color:$colorBg;
}
.userTop a{
	position: relative;
	margin-bottom:.5rem;
	padding:3% 10% 3% 5%;
	background-color:#1b1b1b;
	display:-webkit-flex;
    display:flex;
    align-items:center;
    text-decoration:none;
	.head{
    	width:3rem;
    	height:3rem;
    	border-radius:100%;
    	overflow:hidden;
    	img{
    		width:100%;
    	}
    }
    .text{
    	margin-left:.5rem;
    	-webkit-flex:1;
    	flex:1;
    	overflow:hidden;
    	.name{
    		display:-webkit-flex;
		    display:flex;
		    align-items:center;
    		h3{
    			font:.75rem/1.5 $publicFont;
    			color:$colorWhite;	
    		}
    		img{
                margin-left:.3rem;
    			height:.6rem;	
    		}
    	}
    	p{
    		font:.6rem/1.8 $publicFont;
			color:#444;
			overflow : hidden;
	  		text-overflow: ellipsis;
			white-space: nowrap;
    	}
    	.textList{
			>span{
				margin-left:.2rem;
			    padding: 0 3%;
				background-color:#4A4A4A;
				border-radius:30px;
				font:.5rem/1.5 $publicFont;
				color:#fff;
			}
    	}
    }
    &:after{
        content:"";
        position: absolute;
        top:50%;
        right:5%;
        margin-top:-3px;
        width:6px;
        height:6px;
        border: 1px solid;
        border-bottom: 0;
        border-right: 0;
        color: #ccc;
        @include transform(rotateZ(135deg));
    }
}
.userItem{
	ul{
		padding:0 0 0 5%;
		background-color:#1b1b1b;
		margin-bottom:.5rem;
		li{
			border-bottom:1px solid #333;
			&:last-child{
		    	border-bottom:none;
		    }
		}
		li a{	
			position:relative;
		    padding:3% 8% 3% 0;	
			display:-webkit-flex;
		    display:flex;
		    align-items:center;
		    text-decoration:none;
		    img{
		    	width:.7rem;
		    	margin-right:.5rem;
		    }
		    p{
		    	-webkit-flex:1;
		    	flex:1;
		    	font:.75rem/1.5 $publicFont;
		    	color:#BDBDBD;
		    }
		    span{
		    	font:.6rem/1.5 $publicFont;
		    	color:#444;
		    }
		    &:after{
		        content:"";
		        position: absolute;
		        top:50%;
		        right:5%;
		        margin-top:-3px;
		        width:6px;
		        height:6px;
		        border: 1px solid;
		        border-bottom: 0;
		        border-right: 0;
		        color: #ccc;
		        @include transform(rotateZ(135deg));
		    }   
		}
	} 
}
.userBottom{
	position:fixed;
	left:5%;
	bottom:5%;
	right:5%;
	display:-webkit-flex;
    display:flex;
    align-items:center;
	a{
        -webkit-flex:1; 
        flex:1;
        font:.75rem/2.4 $publicFont;
        text-align:center;
        text-decoration:none;
        &:nth-child(1){
        	margin-right:2.5%;
        	color:#FFBC00;
        	border:1px solid #FFBC00;
        	border-radius:5px;
        }
        &:nth-child(2){
        	margin-left:2.5%;
        	color:#fff;
        	border:1px solid #FFBC00;
        	border-radius:5px;
        	background-color:#FFBC00;
        }
	}
}